<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
</head>

<body>

    <h2>Product List</h2>

    <!-- Display total number of products -->
    <h4>Total Products : {{ total_products }}</h4>

    <table border="1" cellpadding="8">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <!-- Product Image Column -->
            <th>Image</th>
            <th>Action</th>
        </tr>

        <!-- Display all products -->
        {% for product in products %}

        <tr>

            <!-- Display product id -->
            <td>{{ product.id }}</td>

            <!-- Display product name -->
            <td>{{ product.name }}</td>

            <!-- Display product category -->
            <td>{{ product.category }}</td>

            <!-- Display product price -->
            <td>{{ product.price }}</td>

            <!-- Display product stock -->
            <td>{{ product.stock }}</td>

            <!-- Display Product Image -->
            <td>

                {% if product.image %}

                    <img
                        src="{{ url_for('static', filename='uploads/' + product.image) }}"
                        width="80"
                        height="80"
                        alt="Product Image"
                    >

                {% else %}

                    No Image

                {% endif %}

            </td>


            <!-- Display action buttons -->
            <td>

                <a href="/product/{{ product.id }}">
                    View
                </a>

                |

                <a href="/edit-product/{{ product.id }}">
                    Edit
                </a>

                |

                <a href="/delete-product/{{ product.id }}"
                   onclick="return confirm('Are you sure you want to delete this product?')">
                    Delete
                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</body>

</html>